body {	
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

body, h1, h2, h3, h4, h5, p, a, textarea, input {
	font-family: 'Noto Sans TC', sans-serif;
}

a {
	color: #4c9ade;
}

#header {
	padding: 15px 30px;
	background: #222;
	color: white;
}

#header h1{
	margin-right: -100px;
	margin-top: 0px;
	font-weight: 300;
	letter-spacing: 100px;
}

#header h5 {
	font-weight: 100;
  margin: 35px auto 20px auto;
  border-bottom: 1px solid white;
  line-height: 1px;
  width: 40%;
}

#header h5 > span {
	font-weight: 100;
	background: #222;
	padding: 8px 16px 8px 18px;
	border: 1px solid white;
	letter-spacing: 3px;
	font-size: 11px;
}

.no-padding-left {
	padding-left: 0px;
}

.well {
	padding: 30px;
}

.content .well {
	background: white;
	border: none;
	box-shadow: none;
}

.content h3 {
	line-height: 34px;
}

.content li {
	line-height: 24px;
}

.content .wells-wrapper h2 {
	font-weight: 200;
}

#nav {
	padding: 30px;
}

#nav hr {
  border-top: 1px solid #ccc;
  margin: 5px 0px;
}

#nav ul {
	padding-left: 0px;
	margin-bottom: 20px;
}

#nav li {
	list-style: none;
	padding: 3px 0px 7px 0px;
}

#nav .subtitle {
	font-weight: bold;
	font-size: 18px;
}

.avatar {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px 30px auto;
	border: 1px solid #555;
	border-radius: 50%;
	width: 160px;
	height: 160px;
	background-image: url('../images/me.jpg');
}

@media (max-width: 767px) {
	.wells-wrapper {
		padding: 0px;
	}
	#header h5 {
		width: 100%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body,
	.container {
		width: 900px;	
	}	
}

@media (min-width: 1200px) {
	body,
	.container {
		width: 1150px;	
	}
	.content h2:first-child {
		margin-top: 0px;
	}
}

@media (min-width: 1450px) {
	body,
	.container {
		width: 1400px;	
	}
	.content h2:first-child {
		margin-top: 0px;
	}
}